.App {
  text-align: center;
}

ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 0 auto;
  max-width: 64em;
  padding: 0;
  grid-gap: 10px;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-left: 0;
}

ul.days li {
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
  height: 12vw;
  max-height: 125px;
  align-items: flex-start;
  justify-content: left;
}

.monthBtn {
  padding: 0 10px;
  cursor: pointer;
  font-size: 18pt;
}